---
export interface Props {
  items: Array<{
    period: string;
    title: string;
    company?: string;
    points: string[];
  }>;
}

const { items } = Astro.props;
---

<div class="relative pl-8 mt-10 space-y-12">
  <!-- Línea vertical -->
  <div class="absolute left-0 top-0 h-full w-0.5 bg-emerald-400 bg-opacity-30"></div>
  
  {items.map((item, index) => (
    <div class="relative">
      
      <!-- Contenido con la fecha dentro de la tarjeta -->
      <div class="bg-gray-900 rounded-lg p-6 transition-all duration-300 hover:-translate-y-1 hover:shadow-lg">
        <!-- Fecha dentro de la tarjeta -->
        <div class="font-mono text-sm font-bold mb-3 text-emerald-400 inline-block px-3 py-1 rounded bg-gray-800">
          {item.period}
        </div>
        
        <h3 class="text-xl font-bold mb-3">{item.title}</h3>
        
        <ul class="space-y-2">
          {item.company && (
            <li class="flex items-start">
              <span class="text-emerald-400 mr-2">•</span>
              <span>{item.company}</span>
            </li>
          )}
          
          {item.points.map(point => (
            <li class="flex items-start">
              <span class="text-emerald-400 mr-2">•</span>
              <span class="text-gray-400">{point}</span>
            </li>
          ))}
        </ul>
      </div>
    </div>
  ))}
</div>
