---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/common/NavBar.astro';
import HeroSection from '../components/home/HeroSection.astro';
import Footer from '../components/common/Footer.astro';
---

<Layout title="Maycol Roa | Portfolio">
  <Navbar activeLink="home" />
  
  <main>
    <HeroSection />
  </main>
</Layout>

<style>
  main {
    /* Permitir que el efecto de transición se aplique suavemente */
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>
